*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #d3d6db;
}

.ball{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #043156;
    background: linear-gradient(to bottom, rgba(199,0,56,1) 0%, rgba(144,12,63,1) 100%);
    transform: translateY(-100px);
}

.shadow{
    width: 60px;
    height: 30px;
    background: radial-gradient(ellipse at center, rgba(88, 24, 69,1) 0%, rgba(237, 237, 237, 0) 50%);
    position: relative;
    z-index: -1;
    transform: translateY(75px);
    opacity: .1;
}

